.header {
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 700px;
  background-image: url(../images/new-header-bgi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .header__container {
    z-index: 1;
    max-width: 1020px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: transparent; }

.header-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
  margin-top: 24px; }
  .header-upper__tel {
    padding-bottom: 8px;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear; }
    .header-upper__tel:hover {
      color: #9fadc2; }
  .header-upper__logo {
    width: 115px;
    height: 76px; }
  .header-upper__call {
    position: relative;
    padding-bottom: 8px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .header-upper__call::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #fff;
      -webkit-transition: width 0.3s linear;
      transition: width 0.3s linear;
      left: 0;
      bottom: 0; }
    .header-upper__call:hover {
      color: #9fadc2; }
      .header-upper__call:hover::after {
        width: 0; }

.header-lower {
  margin-bottom: 48px; }
  .header-lower__title {
    position: relative;
    max-width: 328px;
    font-weight: bold;
    font-size: 3.75rem;
    line-height: 60px;
    letter-spacing: -1.5px;
    margin-bottom: 85px; }
    .header-lower__title::before {
      position: absolute;
      content: "";
      width: 35px;
      height: 2px;
      background-color: #fff;
      top: -16px;
      left: 2px; }

.header-navbar__list {
  height: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-navbar__item {
  position: relative; }
  .header-navbar__item:last-of-type {
    margin-right: -24px; }

.header-navbar__link {
  padding: 8px 24px;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear; }
  .header-navbar__link:hover {
    color: #9fadc2; }
  .header-navbar__link.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px; }

/*# sourceMappingURL=header.css.map */
