.form {
  max-width: 413px; }
  .form__field {
    border: none;
    margin: 0;
    padding: 0; }
  .form__item {
    background-color: #f7f8ff;
    border-radius: 8px;
    border: none;
    outline: none;
    width: calc(100% - 17px);
    height: 48px;
    margin-bottom: 16px;
    font-size: 14px;
    padding-left: 17px;
    color: #b9c1ce; }
    .form__item:focus {
      -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
              box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }
    .form__item:nth-child(3) {
      margin-bottom: 32px; }
    .form__item::-webkit-input-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px; }
    .form__item::-moz-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px; }
    .form__item:-ms-input-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px; }
    .form__item::-ms-input-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px; }
    .form__item::placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px; }
  .form__area {
    width: calc(100% - 17px);
    height: calc(144px - 17px);
    font-size: 14px;
    color: #b9c1ce;
    padding-left: 17px;
    padding-top: 17px;
    margin-bottom: 32px;
    background-color: #f7f8ff;
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none; }
    .form__area:focus {
      -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
              box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }
    .form__area::-webkit-input-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px; }
    .form__area::-moz-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px; }
    .form__area:-ms-input-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px; }
    .form__area::-ms-input-placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px; }
    .form__area::placeholder {
      color: #b9c1ce;
      font-size: 14px;
      line-height: 14px; }
  .form__button {
    display: block;
    width: 100%;
    height: 56px;
    outline: none;
    background: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #0075ff;
    color: #fff;
    font-size: 1rem;
    line-height: 56px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    -webkit-transition: background-color 0.3s linear, color 0.3s linear;
    transition: background-color 0.3s linear, color 0.3s linear; }
    .form__button:focus {
      -webkit-box-shadow: 0 15px 45px rgba(0, 117, 255, 0.8);
              box-shadow: 0 15px 45px rgba(0, 117, 255, 0.8); }
    .form__button:hover {
      background-color: #fff;
      color: #0075ff; }

.section-description {
  margin: 103px auto 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .section-description__left {
    width: 50%; }
    @media (max-width: 790px) {
      .section-description__left {
        width: 100%; } }
  .section-description__right {
    width: 50%; }
    @media (max-width: 790px) {
      .section-description__right {
        width: 100%; } }
  .section-description__title {
    font-size: 3rem;
    line-height: 48px;
    color: black; }
    @media (max-width: 790px) {
      .section-description__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 48px; } }
  .section-description__here {
    color: #0075ff; }
  .section-description__heading {
    color: #0075ff;
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 16px; }
  .section-description__text {
    white-space: pre-line;
    font-weight: normal;
    font-size: 1rem;
    line-height: 27px;
    max-width: 500px;
    max-height: 403px;
    margin: 0; }
  @media (max-width: 790px) {
    .section-description {
      display: block; } }

.section-gallery {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 152px; }
  .section-gallery h4 {
    color: #000; }
  .section-gallery__title {
    position: relative;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 3rem;
    line-height: 48px;
    margin-bottom: 53px;
    padding-bottom: 8px; }
    .section-gallery__title::after {
      position: absolute;
      content: url(../images/crown.svg);
      left: 50%;
      bottom: -20px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .section-gallery__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px; }
  .section-gallery__img {
    height: 256px;
    border-radius: 8px; }
    .section-gallery__img--1 {
      width: calc(66.6% - 10px);
      margin-right: 20px; }
    .section-gallery__img--2 {
      width: calc(33.3% - 10px); }
    .section-gallery__img--3 {
      width: calc(50% - 10px);
      margin-right: 20px; }
    .section-gallery__img--4 {
      width: calc(50% - 10px); }
    .section-gallery__img--5 {
      width: calc(33.3% - 10px);
      margin-right: 20px; }
    .section-gallery__img--6 {
      width: calc(66.6% - 10px); }
    @media (max-width: 790px) {
      .section-gallery__img {
        width: calc(50% - 10px);
        height: 131px; } }
  .section-gallery__heading {
    margin-bottom: 40px;
    font-size: 1rem;
    line-height: 27px;
    font-weight: normal; }
  .section-gallery__accent {
    color: #0075ff;
    font-weight: bold; }
  .section-gallery__button {
    display: block;
    width: 188px;
    height: 56px;
    outline: none;
    margin: 0 auto;
    text-align: center;
    color: #0075ff;
    font-size: 1rem;
    line-height: 52px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #0075ff;
    border-radius: 8px;
    -webkit-transition: color 0.3s linear, background-color 0.3s linear;
    transition: color 0.3s linear, background-color 0.3s linear; }
    .section-gallery__button:hover {
      background-color: #0075ff;
      color: #fff; }
    .section-gallery__button:focus {
      -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
              box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }
    @media (max-width: 790px) {
      .section-gallery__button {
        width: 100%; } }

.section-consultation {
  margin: 0 auto 152px; }
  .section-consultation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 790px) {
      .section-consultation__container {
        display: block; } }
  .section-consultation__description {
    max-width: 413px; }
    @media (max-width: 790px) {
      .section-consultation__description {
        margin-bottom: 32px; } }
  .section-consultation__title {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    color: #000;
    margin-bottom: 85px;
    padding-bottom: 8px; }
    .section-consultation__title::after {
      position: absolute;
      content: url(../images/crown.svg);
      left: 50%;
      bottom: -20px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .section-consultation__heading {
    max-width: 240px;
    color: #0075ff;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 16px; }
  .section-consultation__text {
    margin: 0;
    font-size: 1rem;
    line-height: 27px;
    font-weight: normal;
    color: #000; }

.section-testimonials {
  margin: 0 auto 152px; }
  .section-testimonials__title {
    position: relative;
    text-align: center;
    color: #000;
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -1.5px;
    margin-bottom: 85px;
    padding-bottom: 8px; }
    .section-testimonials__title::after {
      position: absolute;
      content: url(../images/crown.svg);
      left: 50%;
      bottom: -20px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .section-testimonials__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 790px) {
      .section-testimonials__container {
        display: block; } }
  .section-testimonials__item {
    max-width: 240px;
    text-align: center; }
    @media (max-width: 790px) {
      .section-testimonials__item {
        margin: 0 auto 48px; } }
  .section-testimonials__photo {
    margin-bottom: 28px;
    width: 153px;
    height: 153px;
    border-radius: 50%; }
  .section-testimonials__name {
    font-size: 1.5rem;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 4px; }
  .section-testimonials__position {
    font-size: 14px;
    line-height: 27px;
    font-weight: normal;
    color: #b9c1ce;
    margin-bottom: 13px; }
  .section-testimonials__text {
    font-size: 1rem;
    line-height: 27px;
    font-weight: normal; }

.section-contact {
  margin: 0 auto 88px; }
  .section-contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 790px) {
      .section-contact__container {
        display: block; } }
  .section-contact__left {
    max-width: 413px;
    display: grid;
    grid-template-areas: "b1 b2" "b3 b2";
    grid-template-rows: repeat(2, 74px);
    grid-template-columns: 261px 152px;
    gap: 20px; }
    @media (max-width: 790px) {
      .section-contact__left {
        display: block;
        margin-bottom: 32px; } }
  .section-contact__title {
    position: relative;
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: #000;
    text-align: center;
    margin-bottom: 85px;
    padding-bottom: 8px; }
    .section-contact__title::after {
      position: absolute;
      content: url(../images/crown.svg);
      left: 50%;
      bottom: -20px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .section-contact__heading {
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    color: #b9c1ce;
    margin-bottom: 8px; }
  .section-contact__text {
    font-size: 1rem;
    font-weight: normal;
    line-height: 27px;
    margin: 0;
    color: #000; }
  .section-contact__phone {
    grid-area: b1; }
  .section-contact__address {
    grid-area: b2; }
  .section-contact__email {
    grid-area: b3; }

.sections {
  max-width: 1020px;
  padding: 0 20px;
  overflow: hidden; }

/*# sourceMappingURL=sections.css.map */
